@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* HEADER */
header {
  background-image: linear-gradient(to bottom, black, transparent);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
header nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul .header-logo {
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  margin-right: 30px;
}
header nav ul a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin: 20px;
  font-weight: 300;
  transition: color 0.2s ease-in-out;
}
header nav ul a:hover {
  color: #d8d2d2;
}
header nav ul #actual-view {
  font-weight: 600;
}
header nav ul img {
  margin-right: 20px;
}

/* FOOTER */
footer {
  background-image: linear-gradient(black 50%, #0f0f0f);
  bottom: 0;
  width: 100%;
  z-index: 5;
}
footer nav {
  display: flex;
  padding: 40px;
  justify-content: space-between;
}
footer nav ul {
  color: #fff;
  z-index: 5;
}
footer nav ul a {
  text-decoration: none;
  font-size: 17px;
  margin: 10px;
  color: #fff;
  font-weight: 300;
  transition: color 0.2s ease-in-out;
}
footer nav ul #ig:hover {
  color: #C13584;
}
footer nav ul #tiktok:hover {
  color: gray;
}
footer nav ul #twitter:hover {
  color: #00acee;
}

/* INDEX */
.section-logo {
  height: 80vh;
  position: relative;
  overflow: hidden;
}
.section-logo .background-image {
  overflow: hidden;
}
.section-logo .background-image:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, black);
  z-index: 2;
}
.section-logo .background-image img {
  object-fit: fill;
  width: 100%;
}
.section-logo .background-image .logo {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Ajusta el color del texto según tus necesidades */
  text-align: center;
}
.section-logo .background-image .logo h1 {
  text-shadow: 1px 1px 10px black;
  font-weight: 800;
  font-size: 100px;
}
.section-logo .background-image .logo h6 {
  font-weight: 300;
  font-size: 20px;
}

.section-carrousel {
  background-color: black;
  padding-bottom: 50px;
}
.section-carrousel .title-carrousel h2 {
  color: rgb(199, 199, 199);
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
}
.section-carrousel .carrousel {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section-carrousel .carrousel .anime {
  z-index: 3;
  margin-inline: 20px;
  transition: scale 0.1s ease-in-out;
  max-width: 250px;
}
.section-carrousel .carrousel .anime:hover {
  scale: 1.05;
}
.section-carrousel .carrousel .anime .anime-image img {
  height: 400px;
  width: 250px;
  opacity: 0.7;
  transition: opacity 0.1s ease-in-out;
}
.section-carrousel .carrousel .anime .anime-image img:hover {
  opacity: 0.9;
}
.section-carrousel .carrousel .anime .anime-text {
  padding: 5px;
}
.section-carrousel .carrousel .anime .anime-text h2 {
  color: #fff;
  font-weight: 400;
  font-size: 17px;
}
.section-carrousel .carrousel .anime .anime-text h5 {
  color: rgb(209, 205, 205);
  font-weight: 300;
  font-size: 14px;
  margin-top: 5px;
}

/* INDEXS */
.background-image-series {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 50vh;
}
.background-image-series:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, black 1%, transparent, black);
  z-index: 2;
}
.background-image-series img {
  object-fit: fill;
  width: 100%;
}

.section-series {
  width: 100%;
  background-color: black;
  padding-top: 120px;
}
.section-series .container-series {
  margin-inline: 5%;
  display: grid;
}
.section-series .container-series .title {
  color: rgb(199, 199, 199);
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 25px;
  text-transform: uppercase;
  z-index: 3;
}
.section-series .container-series .series {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-series .container-series .series .anime {
  z-index: 3;
  margin-inline: 30px;
  margin-block: 10px;
  transition: scale 0.1s ease-in-out;
  max-width: 250px;
}
.section-series .container-series .series .anime:hover {
  scale: 1.05;
}
.section-series .container-series .series .anime .anime-image img {
  width: 250px;
  height: 400px;
  opacity: 0.7;
  transition: opacity 0.1s ease-in-out;
}
.section-series .container-series .series .anime .anime-image img:hover {
  opacity: 0.9;
}
.section-series .container-series .series .anime .anime-text {
  padding: 5px;
}
.section-series .container-series .series .anime .anime-text h2 {
  color: #fff;
  font-weight: 400;
  font-size: 17px;
}
.section-series .container-series .series .anime .anime-text h5 {
  color: rgb(209, 205, 205);
  font-weight: 300;
  font-size: 14px;
  margin-top: 5px;
}

.section-aboutus {
  width: 100%;
  background-image: linear-gradient(to bottom, black 1%, #0f0f0f, black);
  padding-top: 120px;
}
.section-aboutus .aboutus {
  margin-inline: 25%;
}
.section-aboutus .aboutus .text {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.section-aboutus .aboutus .text h1 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400;
}
.section-aboutus .aboutus .images {
  padding-block: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-aboutus .aboutus .images .avatar {
  margin: 50px;
}
.section-aboutus .aboutus .images .avatar img {
  width: 240px;
}
.section-aboutus .aboutus .images .avatar .avatar-info {
  margin-top: 5px;
  display: grid;
}
.section-aboutus .aboutus .images .avatar .avatar-info .name {
  font-size: 25px;
  font-weight: 300;
  color: #fff;
}
.section-aboutus .aboutus .images .avatar .avatar-info .description {
  font-size: 20px;
  font-weight: 300;
  color: gray;
}
.section-aboutus .aboutus .images .redes {
  display: flex;
  align-items: center;
}
.section-aboutus .aboutus .images .redes .red {
  margin: 20px;
}
.section-aboutus .aboutus .images .redes .red #linkedin {
  transition: background-color 0.2s ease-in-out;
}
.section-aboutus .aboutus .images .redes .red #linkedin:hover {
  background-color: #0077b5;
}
.section-aboutus .aboutus .images .redes .red #github {
  transition: background-color 0.2s ease-in-out;
}
.section-aboutus .aboutus .images .redes .red #github:hover {
  background-color: #333;
}
.section-aboutus .aboutus .images .redes .red #gmail {
  transition: background-color 0.2s ease-in-out;
}
.section-aboutus .aboutus .images .redes .red #gmail:hover {
  background-color: yellow;
}
.section-aboutus .aboutus .images .redes .red img {
  width: 80px;
  background-color: white;
  padding: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  header nav {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
  header nav ul {
    display: flex;
    align-items: center;
  }
  header nav ul .header-logo {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    margin-right: 20px;
  }
  header nav ul a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    font-weight: 300;
    transition: color 0.2s ease-in-out;
  }
  header nav ul a:hover {
    color: #d8d2d2;
  }
  header nav ul #actual-view {
    font-weight: 600;
  }
  header nav ul img {
    margin-right: 0px;
    width: 25px !important;
  }
}
@media (max-width: 768px) {
  footer nav {
    padding: 10px;
  }
  footer nav ul {
    display: flex;
    font-size: 12px;
    align-items: center;
  }
  footer nav ul a {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .section-logo {
    height: 30vh;
  }
  .section-logo .background-image .logo h1 {
    font-size: 50px;
  }
  .section-logo .background-image .logo h6 {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .section-carrousel {
    padding-bottom: 20px;
  }
  .section-carrousel .title-carrousel h2 {
    font-size: 20px;
    padding: 5px;
  }
  .section-carrousel .carrousel {
    flex-wrap: wrap;
  }
  .section-carrousel .carrousel .anime {
    margin-inline: 10px;
    margin-block: 10px;
    max-width: 170px;
  }
  .section-carrousel .carrousel .anime .anime-image img {
    height: 220px;
    width: 150px;
  }
  .section-carrousel .carrousel .anime .anime-text {
    padding: 0px;
  }
  .section-carrousel .carrousel .anime .anime-text h2 {
    font-size: 12px;
  }
  .section-carrousel .carrousel .anime .anime-text h5 {
    font-size: 9px;
  }
}
@media (max-width: 768px) {
  .background-image-series {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .background-image-series:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, black -10%, transparent, black);
    z-index: 2;
  }
  .background-image-series img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .section-series {
    width: 100%;
    background-color: black;
    padding-top: 60px;
  }
  .section-series .container-series {
    margin-inline: 5%;
    justify-items: center;
  }
  .section-series .container-series .title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .section-series .container-series .series {
    flex-wrap: wrap;
  }
  .section-series .container-series .series .anime {
    margin-inline: 15px;
    max-width: 150px;
  }
  .section-series .container-series .series .anime .anime-image img {
    height: 220px;
    width: 150px;
  }
  .section-series .container-series .series .anime .anime-text {
    padding: 0px;
  }
  .section-series .container-series .series .anime .anime-text h2 {
    font-size: 12px;
  }
  .section-series .container-series .series .anime .anime-text h5 {
    font-size: 9px;
  }
}
@media (max-width: 768px) {
  .section-aboutus {
    padding-top: 60px;
  }
  .section-aboutus .aboutus {
    margin-inline: 10%;
  }
  .section-aboutus .aboutus .text {
    font-size: 12px;
  }
  .section-aboutus .aboutus .text h1 {
    font-size: 20px;
    margin-bottom: 12px;
    letter-spacing: 0px;
  }
  .section-aboutus .aboutus .images {
    padding-top: 30px !important;
    padding-bottom: 15px !important;
    padding-block: 0px;
    flex-direction: column;
  }
  .section-aboutus .aboutus .images .avatar {
    margin: 10px;
  }
  .section-aboutus .aboutus .images .avatar img {
    width: 150px;
  }
  .section-aboutus .aboutus .images .avatar .avatar-info .name {
    font-size: 15px;
  }
  .section-aboutus .aboutus .images .avatar .avatar-info .description {
    margin-top: 3px;
    font-size: 10px;
  }
  .section-aboutus .aboutus .images .redes .red {
    margin: 10px;
  }
  .section-aboutus .aboutus .images .redes .red img {
    width: 50px;
    background-color: white;
    padding: 10px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
