@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* HEADER */
header {
  background-image: linear-gradient(to bottom, black, transparent);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
header nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul .header-logo {
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  margin-right: 30px;
}
header nav ul a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin: 20px;
  font-weight: 300;
  transition: color 0.2s ease-in-out;
}
header nav ul a:hover {
  color: #d8d2d2;
}
header nav ul #actual-view {
  font-weight: 600;
}
header nav ul img {
  margin-right: 20px;
}

/* FOOTER */
footer {
  background-image: linear-gradient(black 50%, #0f0f0f);
  bottom: 0;
  width: 100%;
  z-index: 5;
}
footer nav {
  display: flex;
  padding: 40px;
  justify-content: space-between;
}
footer nav ul {
  color: #fff;
  z-index: 5;
}
footer nav ul a {
  text-decoration: none;
  font-size: 17px;
  margin: 10px;
  color: #fff;
  font-weight: 300;
  transition: color 0.2s ease-in-out;
}
footer nav ul #ig:hover {
  color: #C13584;
}
footer nav ul #tiktok:hover {
  color: gray;
}
footer nav ul #twitter:hover {
  color: #00acee;
}

/* INDEX */
.section-logo {
  height: 80vh;
  position: relative;
  overflow: hidden;
}
.section-logo .background-image {
  overflow: hidden;
}
.section-logo .background-image:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, black);
  z-index: 2;
}
.section-logo .background-image img {
  object-fit: fill;
  width: 100%;
}
.section-logo .background-image .logo {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent; /* Ajusta el color del texto según tus necesidades */
  text-align: center;
}
.section-logo .background-image .logo h1 {
  font-weight: 800;
  font-size: 100px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.section-logo .background-image .logo h6 {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

.section-carrousel {
  background-color: black;
  padding-bottom: 50px;
}
.section-carrousel .title-carrousel h2 {
  color: rgb(199, 199, 199);
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
}
.section-carrousel .carrousel {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section-carrousel .carrousel .anime {
  z-index: 3;
  margin-inline: 20px;
  transition: scale 0.1s ease-in-out;
  max-width: 250px;
}
.section-carrousel .carrousel .anime:hover {
  scale: 1.05;
}
.section-carrousel .carrousel .anime .anime-image img {
  height: 400px;
  width: 250px;
  opacity: 0.7;
  transition: opacity 0.1s ease-in-out;
}
.section-carrousel .carrousel .anime .anime-image img:hover {
  opacity: 0.9;
}
.section-carrousel .carrousel .anime .anime-text {
  padding: 5px;
}
.section-carrousel .carrousel .anime .anime-text h2 {
  color: #fff;
  font-weight: 400;
  font-size: 17px;
}
.section-carrousel .carrousel .anime .anime-text h5 {
  color: rgb(209, 205, 205);
  font-weight: 300;
  font-size: 14px;
  margin-top: 5px;
}

/* INDEXS */
.background-image-series {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 50vh;
}
.background-image-series:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, black 1%, transparent, black);
  z-index: 2;
}
.background-image-series img {
  object-fit: fill;
  width: 100%;
}

.section-series {
  width: 100%;
  background-color: black;
  padding-top: 120px;
}
.section-series .container-series {
  margin-inline: 5%;
  display: grid;
}
.section-series .container-series .title {
  color: rgb(199, 199, 199);
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 25px;
  text-transform: uppercase;
  z-index: 3;
}
.section-series .container-series .series {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-series .container-series .series a {
  text-decoration: none;
}
.section-series .container-series .series a .anime {
  z-index: 3;
  margin-inline: 30px;
  margin-block: 10px;
  transition: scale 0.1s ease-in-out;
  max-width: 250px;
  position: relative;
  transform: translateY(-400%);
}
.section-series .container-series .series a .anime:hover {
  scale: 1.05;
}
.section-series .container-series .series a .anime .anime-image img {
  width: 250px;
  height: 400px;
  opacity: 0.8;
}
.section-series .container-series .series a .anime .anime-text {
  padding: 5px;
}
.section-series .container-series .series a .anime .anime-text h2 {
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
}
.section-series .container-series .series a .anime .anime-text h5 {
  color: rgb(209, 205, 205);
  font-weight: 300;
  font-size: 14px;
  margin-top: 5px;
  text-decoration: none;
}
@keyframes appear {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

.aparecerDesdeArriba {
  animation: appear 0.4s forwards;
}

.section-aboutus {
  width: 100%;
  background-image: linear-gradient(to bottom, black 1%, #0f0f0f, black);
  padding-top: 120px;
}
.section-aboutus .aboutus {
  margin-inline: 25%;
}
.section-aboutus .aboutus .text {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.section-aboutus .aboutus .text h1 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400;
}
.section-aboutus .aboutus .images {
  padding-block: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-aboutus .aboutus .images .avatar {
  margin: 50px;
}
.section-aboutus .aboutus .images .avatar img {
  width: 240px;
}
.section-aboutus .aboutus .images .avatar .avatar-info {
  margin-top: 5px;
  display: grid;
}
.section-aboutus .aboutus .images .avatar .avatar-info .name {
  font-size: 25px;
  font-weight: 300;
  color: #fff;
}
.section-aboutus .aboutus .images .avatar .avatar-info .description {
  font-size: 20px;
  font-weight: 300;
  color: gray;
}
.section-aboutus .aboutus .images .redes {
  display: flex;
  align-items: center;
}
.section-aboutus .aboutus .images .redes .red {
  margin: 20px;
}
.section-aboutus .aboutus .images .redes .red #linkedin {
  transition: background-color 0.2s ease-in-out;
}
.section-aboutus .aboutus .images .redes .red #linkedin:hover {
  background-color: #0077b5;
}
.section-aboutus .aboutus .images .redes .red #github {
  transition: background-color 0.2s ease-in-out;
}
.section-aboutus .aboutus .images .redes .red #github:hover {
  background-color: #333;
}
.section-aboutus .aboutus .images .redes .red #gmail {
  transition: background-color 0.2s ease-in-out;
}
.section-aboutus .aboutus .images .redes .red #gmail:hover {
  background-color: yellow;
}
.section-aboutus .aboutus .images .redes .red img {
  width: 80px;
  background-color: white;
  padding: 10px;
}

.section-watch {
  width: 100%;
  background-image: linear-gradient(#181818 50%, black);
  display: grid;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  z-index: 0;
}
.section-watch .image-cover-back {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.section-watch .image-cover-back img {
  z-index: 0;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  box-shadow: 0px 5px 10px black;
}
.section-watch .watch-container {
  color: #fff;
  margin-inline: 5%;
  width: 50%;
}
.section-watch .watch-container .title {
  margin-top: 100px;
}
.section-watch .watch-container .title h1 {
  margin: 0;
  font-size: 45px;
  font-weight: 400;
  z-index: 1;
}
.section-watch .watch-container .title h6 {
  z-index: 1;
  font-weight: 300;
  font-size: 15px;
  margin-block: 10px;
}
.section-watch .watch-container .watch-btn {
  display: flex;
  align-items: center;
  height: 100px;
}
.section-watch .watch-container .watch-btn .btn-play a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500 !important;
  background-color: #fff;
  padding: 10px 30px;
  display: flex;
  width: 170px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  transition: background-color, transition 0.2s ease-in-out;
}
.section-watch .watch-container .watch-btn .btn-play a:hover {
  background-color: #cacaca;
}
.section-watch .watch-container .watch-btn .btn-play a:hover img {
  animation: play 0.5s;
}
.section-watch .watch-container .watch-btn .btn-play a:hover p {
  animation: play 0.5s;
}
.section-watch .watch-container .watch-btn .btn-play a img {
  width: 15px;
  margin-right: 8px;
}
@keyframes play {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
}
.section-watch .watch-container .watch-btn .btn-trailer {
  margin-block: 50px;
}
.section-watch .watch-container .watch-btn .btn-trailer a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  background-color: #202020;
  padding: 10px 30px;
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}
.section-watch .watch-container .watch-btn .btn-trailer a:hover {
  background-color: #ffffff;
  color: black;
  font-weight: 600;
}
.section-watch .watch-container .watch-btn .btn-trailer a img {
  width: 15px;
  margin-right: 8px;
}
.section-watch .watch-container .resume {
  margin-top: 20px;
}
.section-watch .watch-container .resume h5 {
  font-weight: 300;
  font-size: 15px;
}
.section-watch .watch-container .resume h5 strong {
  text-transform: uppercase;
  margin: 0;
  display: flex;
  margin-bottom: 9px;
}
.section-watch .watch-container .categories {
  display: flex;
  margin-top: 15px;
  margin-bottom: 100px;
}
.section-watch .watch-container .categories .category {
  color: #fff;
  background-color: #202020;
  padding: 10px 20px;
  font-size: 10px;
  margin-right: 10px;
  text-transform: uppercase;
}
.section-watch h2 {
  font-weight: 400;
  color: #fff;
  margin-left: 90px;
  margin-top: 50px;
}
.section-watch .episodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-watch .episodes .episode {
  margin: 20px;
  display: grid;
  margin-block: 30px;
  margin-right: 30px;
  width: 350px;
  max-width: 350px;
  overflow: hidden;
}
.section-watch .episodes .episode:hover .episode-photo .cover {
  filter: opacity(0.5);
  transform: scale(1.2);
}
.section-watch .episodes .episode:hover .episode-photo .play {
  opacity: 1;
}
.section-watch .episodes .episode .episode-photo {
  overflow: hidden;
  transition: opacity 0.4s ease-in-out;
  position: relative;
}
.section-watch .episodes .episode .episode-photo .cover {
  width: 100%;
  height: 200px;
  filter: opacity(0.8);
  transition-property: filter, transform;
  transition-duration: 0.4s;
  max-height: 250px;
}
.section-watch .episodes .episode .episode-photo .play {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: scale 0.4s;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.section-watch .episodes .episode .episode-text h5 {
  color: gray;
  font-weight: 300;
  margin-top: 10px;
  z-index: 2;
}
.section-watch .episodes .episode .episode-text h2 {
  color: #fff;
  font-size: 18px;
  margin: 0;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  header nav {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
  header nav ul {
    display: flex;
    align-items: center;
  }
  header nav ul .header-logo {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    margin-right: 20px;
  }
  header nav ul a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    font-weight: 300;
    transition: color 0.2s ease-in-out;
  }
  header nav ul a:hover {
    color: #d8d2d2;
  }
  header nav ul #actual-view {
    font-weight: 600;
  }
  header nav ul img {
    margin-right: 0px;
    width: 25px !important;
  }
}
@media (max-width: 768px) {
  footer nav {
    padding: 10px;
  }
  footer nav ul {
    display: flex;
    font-size: 12px;
    align-items: center;
  }
  footer nav ul a {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .section-logo {
    height: 30vh;
  }
  .section-logo .background-image .logo h1 {
    font-size: 50px;
  }
  .section-logo .background-image .logo h6 {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .section-carrousel {
    padding-bottom: 20px;
  }
  .section-carrousel .title-carrousel h2 {
    font-size: 20px;
    padding: 5px;
  }
  .section-carrousel .carrousel {
    flex-wrap: wrap;
  }
  .section-carrousel .carrousel .anime {
    margin-inline: 10px;
    margin-block: 10px;
    max-width: 170px;
  }
  .section-carrousel .carrousel .anime .anime-image img {
    height: 220px;
    width: 150px;
  }
  .section-carrousel .carrousel .anime .anime-text {
    padding: 0px;
  }
  .section-carrousel .carrousel .anime .anime-text h2 {
    font-size: 12px;
  }
  .section-carrousel .carrousel .anime .anime-text h5 {
    font-size: 9px;
  }
}
@media (max-width: 768px) {
  .background-image-series {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .background-image-series:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, black -10%, transparent, black);
    z-index: 2;
  }
  .background-image-series img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .section-series {
    width: 100%;
    background-color: black;
    padding-top: 60px;
  }
  .section-series .container-series {
    margin-inline: 5%;
    justify-items: center;
  }
  .section-series .container-series .title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .section-series .container-series .series {
    flex-wrap: wrap;
  }
  .section-series .container-series .series a .anime {
    margin-inline: 15px;
    max-width: 150px;
  }
  .section-series .container-series .series a .anime .anime-image img {
    height: 220px;
    width: 150px;
  }
  .section-series .container-series .series a .anime .anime-text {
    padding: 0px;
  }
  .section-series .container-series .series a .anime .anime-text h2 {
    font-size: 12px;
  }
  .section-series .container-series .series a .anime .anime-text h5 {
    font-size: 9px;
  }
  @keyframes appear {
    0% {
      transform: translateX(-100vh);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media (max-width: 768px) {
  .section-aboutus {
    padding-top: 60px;
  }
  .section-aboutus .aboutus {
    margin-inline: 10%;
  }
  .section-aboutus .aboutus .text {
    font-size: 12px;
  }
  .section-aboutus .aboutus .text h1 {
    font-size: 20px;
    margin-bottom: 12px;
    letter-spacing: 0px;
  }
  .section-aboutus .aboutus .images {
    padding-top: 30px !important;
    padding-bottom: 15px !important;
    padding-block: 0px;
    flex-direction: column;
  }
  .section-aboutus .aboutus .images .avatar {
    margin: 10px;
  }
  .section-aboutus .aboutus .images .avatar img {
    width: 150px;
  }
  .section-aboutus .aboutus .images .avatar .avatar-info .name {
    font-size: 15px;
  }
  .section-aboutus .aboutus .images .avatar .avatar-info .description {
    margin-top: 3px;
    font-size: 10px;
  }
  .section-aboutus .aboutus .images .redes .red {
    margin: 10px;
  }
  .section-aboutus .aboutus .images .redes .red img {
    width: 50px;
    background-color: white;
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .section-watch {
    padding-top: 80px;
  }
  .section-watch .image-cover-back {
    height: 40vh;
  }
  .section-watch .image-cover-back img {
    height: 44vh;
  }
  .section-watch .watch-container {
    margin-inline: 5%;
    width: 65%;
  }
  .section-watch .watch-container .title {
    margin-top: 0px;
  }
  .section-watch .watch-container .title h1 {
    font-size: 25px;
  }
  .section-watch .watch-container .title h6 {
    font-size: 10px;
  }
  .section-watch .watch-container .watch-btn {
    height: 60px;
  }
  .section-watch .watch-container .watch-btn .btn-play a {
    font-size: 13px;
    padding: 10px 30px;
    width: 100px;
    margin-right: 20px;
  }
  .section-watch .watch-container .watch-btn .btn-play a img {
    width: 10px;
  }
  .section-watch .watch-container .watch-btn .btn-trailer a {
    font-size: 10px;
    padding: 10px 30px;
    width: 70px;
  }
  .section-watch .watch-container .resume h5 {
    font-size: 10px;
  }
  .section-watch .watch-container .resume h5 strong {
    margin-bottom: 5px;
  }
  .section-watch .watch-container .categories {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .section-watch .watch-container .categories .category {
    padding: 8px 12px;
    font-size: 8px;
    margin-right: 7px;
  }
  .section-watch h2 {
    margin-left: 0%;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
  }
  .section-watch .episodes .episode {
    margin: 5px;
    margin-block: 10px;
    margin-right: 0px;
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 200px auto;
    margin-inline: 5%;
  }
  .section-watch .episodes .episode .episode-photo .cover {
    width: 200px;
    height: 120px;
    max-height: 120px;
  }
  .section-watch .episodes .episode .episode-photo .play {
    width: 30px;
    height: 30px;
  }
  .section-watch .episodes .episode .episode-text {
    margin-inline: 10px;
  }
  .section-watch .episodes .episode .episode-text h5 {
    margin-top: 4px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .section-watch .episodes .episode .episode-text h2 {
    font-size: 14px;
    text-align: left;
    margin-top: 5px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
