@media (max-width: 768px){
    .section-aboutus{
        padding-top: 80px;
        .aboutus{
            margin-inline: 10%;
            .text{
                font-size: 12px;
                h1{
                    font-size: 20px;
                    margin-bottom: 20px;
                    letter-spacing: 0px;
                }
            }
            .images{
                padding-top: 40px !important;
                padding-bottom: 75px !important;
                padding-block: 0px;
                flex-direction: column;
                .avatar{
                    margin: 10px;
                    img{
                        width: 150px;
                    }
                    .avatar-info{
                        .name{
                            font-size: 15px;
                        }
                        .description{
                            margin-top: 3px;
                            font-size: 10px;
                        }
                    }
                }
                .redes{
                    .red{
                        margin: 10px;
                        img{
                            width: 50px;
                            background-color: white;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}