@import "mixins";

.section-aboutus{
    width: 100%;
    background-image: linear-gradient(to bottom, black 1%, #0f0f0f, black);
    padding-top: 120px;
    .aboutus{
        margin-inline: 25%;
        .text{
            color: #fff;
            font-size: 20px;
            font-weight: 300;
            h1{
                font-size: 40px;
                color: #fff;
                margin-bottom: 30px;
                text-transform: uppercase;
                font-weight: 400;
            }
        }
        .images{
            padding-block: 30px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .avatar{
                margin: 50px;
                img{
                    width: 240px;
                }
                .avatar-info{
                    margin-top: 5px;
                    display: grid;
                    .name{
                        font-size: 25px;
                        font-weight: 300;
                        color: #fff;
                    }
                    .description{
                        font-size: 20px;
                        font-weight: 300;
                        color: gray;
                    }
                }
            }
            .redes{
                @include flex-center;
                .red{
                    margin: 20px;
                    #linkedin{
                        transition: background-color 0.2s ease-in-out;
                        &:hover{
                            background-color:#0077b5;
                        }
                    }
                    #github{
                        transition: background-color 0.2s ease-in-out;
                        &:hover{
                            background-color: #333;
                        }
                    }
                    #gmail{
                        transition: background-color 0.2s ease-in-out;
                        &:hover{
                            background-color: yellow;
                        }
                    }
                    img{
                        width: 80px;
                        background-color: white;
                        padding: 10px;
                    }
                }
            }
        }
    }
}