.section-logo{
    height: 80vh;
    position: relative;
    overflow: hidden;
    .background-image {
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(to bottom, transparent, black);
            z-index: 2;
        }
        img {
            object-fit: fill;
            width: 100%;
        }
        .logo{
            z-index: 2;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: transparent; /* Ajusta el color del texto según tus necesidades */
            text-align: center;
            h1{
                font-weight: 800;
                font-size: 100px;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: white;
            }
            h6{
                font-weight: 300;
                font-size: 20px;
                color: #fff;
            }
        }
    }
}