.section-carrousel{
    background-color: black;
    padding-bottom: 50px;
    .carrousel{
        width: 100%;
        display: flex;
        justify-content: center;
        .anime{
            z-index: 3;
            margin-inline: 20px;
            transition: scale 0.1s ease-in-out;
            max-width: 250px;
            &:hover{
                scale: 1.05;
            }
            .anime-image{
                img{
                    height: 400px;
                    width: 250px;
                    opacity: 0.7;
                    transition: opacity 0.1s ease-in-out;
                    &:hover{
                        opacity: 0.9;
                    }
                }
            }
            .anime-text{
                padding: 5px;
                h2{
                    color: #fff;
                    font-weight: 400;
                    font-size: 17px;
                }                
                h5{
                    color: rgb(209, 205, 205);
                    font-weight: 300;
                    font-size: 14px;
                    margin-top: 5px;
                }
            }
        }
    }
}            